<div style="position:relative;width:150px;height:150px;padding-bottom:15%;display:inline-block; border-radius:100%;background:black;"><span style="position:absolute;color:white;left:50%;top:50%;-webkit-transform:translate3d(-50%,-50%,0);font-size:3vw;">540000</span></div>
    <div class="swatch-holder swatch-holder-lg bg-premium-dark" style="position:relative;width:15%;height:0;padding-bottom:15%;display:inline-block; border-radius:100%;"><span style="position:absolute;color:white;left:50%;top:50%;-webkit-transform:translate3d(-50%,-50%,0);font-size:3vw;">540000</span></div>


.circle {
    position:relative;
    width:15%;
    height:0;
    padding-bottom:15%;
    background:black;
    display:inline-block;
    border-radius:100%;
}
.circle > span {
    position:absolute;
    color:white;
    left:50%;
    top:50%;
    -webkit-transform:translate3d(-50%,-50%,0);
    font-size:3vw;
}
